.header {
    background-color:red;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header h1 {
    margin: 0;
}

.toggleButton {
    display: flex;
    align-items: center;
}

.header input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.header button {
    background-color: white;
    color: #ff0000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.header .sortBy {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}